@import "@/styles/mixins.scss";

.form_group {
  position: relative;
  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    pointer-events: auto;
    text-align: start !important;
    padding-inline-start: 5px;
    color: var(--main-color);
    display: inline-block;
    margin-bottom: 0 !important;

    @include sm {
      font-size: 15px;
    }
  }

  .field {
    display: flex;
    align-items: center;
    border: 1px solid rgba(var(--main-background-rgb), 0.8);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    gap: 5px;

    input {
      display: block;
      width: 100%;
      padding: 10px 20px 10px 45px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.64;
      color: var(--text-color-main);
      background-color: rgba(var(--main-background-rgb), 0);
      background-clip: padding-box;
      border-radius: 8px;
      transition:
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

      &:placeholder-shown {
        background-color: rgba(var(--main-background-rgb), 0.05);
      }

      &:disabled {
        background-color: rgba(var(--main-background-rgb), 0.2);
        color: var(--text-color-main);
        cursor: not-allowed;
      }

      &::placeholder {
        color: #6e6e6e;
      }

      @include sm {
        font-size: 15px;
      }

      @include xs {
        font-size: 14px;
      }

      &:focus {
        background-color: rgba(var(--main-background-rgb), 0.05);
        border-color: rgba(var(--main-color-rgb), 0.5);
        outline: 2px solid rgba(var(--main-color-rgb), 0.5);
      }

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 0;
        width: 50px;
        color: #fff;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23014b56" d="M22 2.25h-3.25V.75a.75.75 0 0 0-1.5-.001V2.25h-4.5V.75a.75.75 0 0 0-1.5-.001V2.25h-4.5V.75a.75.75 0 0 0-1.5-.001V2.25H2a2 2 0 0 0-2 1.999v17.75a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2V4.249a2 2 0 0 0-2-1.999zM22.5 22a.5.5 0 0 1-.499.5H2a.5.5 0 0 1-.5-.5V4.25a.5.5 0 0 1 .5-.499h3.25v1.5a.75.75 0 0 0 1.5.001V3.751h4.5v1.5a.75.75 0 0 0 1.5.001V3.751h4.5v1.5a.75.75 0 0 0 1.5.001V3.751H22a.5.5 0 0 1 .499.499z" /><path fill="%23014b56" d="M5.25 9h3v2.25h-3zm0 3.75h3V15h-3zm0 3.75h3v2.25h-3zm5.25 0h3v2.25h-3zm0-3.75h3V15h-3zm0-3.75h3v2.25h-3zm5.25 7.5h3v2.25h-3zm0-3.75h3V15h-3zm0-3.75h3v2.25h-3z" /></svg>');
        background-position: center;
        cursor: pointer;
        padding: 15px 0;
        font-size: 20px;
      }
    }

    &.ar {
      input {
        padding: 10px 60px 10px 20px;
        text-align: left !important;
        direction: ltr !important;

        &::-webkit-calendar-picker-indicator {
          left: unset;
          right: 0;
        }
      }
    }
  }
}

[class="dark"] .formGroup {
  .field {
    border-color: rgba(var(--main-color-rgb), 0.2);
  }

  input {
    color: var(--text-color-main);

    &::placeholder {
      color: rgba(var(--text-color-main-rgb), 0.4);
    }

    &:focus {
      background-color: rgba(var(--main-color-rgb), 0.1);
    }

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 0;
      width: 50px;
      color: #fff;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23ccd6f6" d="M22 2.25h-3.25V.75a.75.75 0 0 0-1.5-.001V2.25h-4.5V.75a.75.75 0 0 0-1.5-.001V2.25h-4.5V.75a.75.75 0 0 0-1.5-.001V2.25H2a2 2 0 0 0-2 1.999v17.75a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2V4.249a2 2 0 0 0-2-1.999zM22.5 22a.5.5 0 0 1-.499.5H2a.5.5 0 0 1-.5-.5V4.25a.5.5 0 0 1 .5-.499h3.25v1.5a.75.75 0 0 0 1.5.001V3.751h4.5v1.5a.75.75 0 0 0 1.5.001V3.751h4.5v1.5a.75.75 0 0 0 1.5.001V3.751H22a.5.5 0 0 1 .499.499z" /><path fill="%23ccd6f6" d="M5.25 9h3v2.25h-3zm0 3.75h3V15h-3zm0 3.75h3v2.25h-3zm5.25 0h3v2.25h-3zm0-3.75h3V15h-3zm0-3.75h3v2.25h-3zm5.25 7.5h3v2.25h-3zm0-3.75h3V15h-3zm0-3.75h3v2.25h-3z" /></svg>');
      background-position: center;
      cursor: pointer;
      padding: 15px 0;
      font-size: 20px;
    }
  }
}