@import "@/styles/mixins";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 1003;
}

.box {
  position: relative;
  display: inline-block;

  &.rtl {
    .select_area {
      right: unset;
      left: 0;
    }
  }

  button {
    gap: 0px;
    border-radius: 8px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main);
    border: 1px solid rgba(var(--main-background-rgb), 0.2);
    color: rgba(var(--main-background-rgb), 0.2);
    outline: none;
    position: relative;
    padding: 0;

    svg {
      width: 30px;
      height: 30px;
      color: var(--pale-text-color);
      padding: 5px;
    }

    &:active {
      background-color: rgba(var(--main-color-rgb), 0.1);
    }

    .select_area {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 4px;
      height: auto;
      min-width: 150px;
      width: auto;
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 2px;
      background-color: #fff;
      z-index: 9999;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      animation: show 0.15s ease-in-out 1;

      p,
      a {
        padding: 6px 10px 5px;
        border-radius: 5px;
        cursor: pointer;
        margin: 0;
        color: var(--text-color);
        transition: all 0.3s ease;
        font-size: 15px;

        &:hover {
          background-color: rgba(var(--main-background-rgb), 0.1);
        }

        svg {
          width: 16px;
          height: 16px;
          margin-inline-end: 5px;
          padding: 0;
        }
      }
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

[class="dark"] .box {
  button {
    border: 1px solid var(--border-color);

    &>svg {
      color: rgba(#fff, 0.7);
    }

    .selectArea {
      background-color: var(--main-background);
      color: #fff;

      p,
      a {
        &:hover {
          background-color: rgba(#fff, 0.2);
        }
      }
    }
  }
}