@import "@/styles/extends";

.switcher_wrapper {
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  z-index: 101;

  .lang_switcher {
    display: flex;
    align-items: center;
    gap: 4px;

    button {
      @extend %mainBtn;
      visibility: hidden;
    }
  }
}