.switch {
  border: 1px solid var(--main-color);
  border-radius: 30px;
  width: 45px;
  height: 25px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  &.switched {
    background-color: var(--main-color);
    .trigger {
      background-color: #fff;
      left: calc(100% - 22px);
    }
  }
  &.dark {
    border-color: var(--text-color);
    &.switched {
      background-color: var(--text-color);
      .trigger {
        background-color: #fff;
      }
    }
    .trigger {
      background-color: var(--text-color);
    }
  }
  &.disabled {
    opacity: 0.5;
  }
  input {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .trigger {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 48.5%;
    left: 2px;
    transform: translateY(-48%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
}