@import "@/styles/mixins.scss";

.form_group {
  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    pointer-events: auto;
    text-align: start !important;
    color: var(--main-color);
    display: inline-block;

    @include sm {
      font-size: 15px;
    }
  }

  .field {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding: 2px;
    input {
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.64;
      color: var(--main-color);
      background-color: rgba(var(--main-background-rgb), 0.05);
      border: 1px solid rgba(var(--main-background-rgb), 0.8);
      border-radius: 8px;
      background-clip: padding-box;
      padding: 12px 20px 12px 60px;
      &::placeholder {
        color: #77838f;
      }
      &:focus {
        background-color: rgba(#fff, 0.8);
        border-color: rgba(var(--main-color-rgb), 0.5);
        outline: 2px solid rgba(var(--main-color-rgb), 0.5);
        box-shadow:
          inset 0 1px 2px rgba(22, 28, 45, 0.075),
          0 0 0 0 transparent;
      }
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        width: 60px;
        left: -8px;
        background-color: var(--bg-main);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 23 23"><g fill="none" stroke="%23575757" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><circle cx="12" cy="12" r="9" /><path d="M11 8v5h5" /></g></svg>');
        background-position: center;
        cursor: pointer;
        padding: 15px 0;
        font-size: 22px;
      }
      @include sm {
        padding: 12px 50px;
        font-size: 15px;
      }
      @include xs {
        padding: 8px 50px;
        font-size: 14px;
      }
    }
    &.ar {
      input {
        padding: 10px 60px 10px 20px;
        text-align: left !important;
        direction: ltr !important;

        &::-webkit-calendar-picker-indicator {
          left: unset;
          right: 0;
        }

        @include sm {
          padding: 12px 12px 12px 50px;
          font-size: 15px;
        }
        @include xs {
          padding: 8px 8px 8px 50px;
          font-size: 14px;
        }
      }
    }
  }
}